/*estilos universal*/
*{
  box-sizing:border-box; 
  color: white;
}

/*estilos para los selectores de etiqueta*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  /*background:green;*/
}
li{
  font-size: 15px;
  margin-right: 10px;
  display: inline;
  font-size: 15px;
  font-weight: 700;
  
}
.uppercase{
  text-transform: uppercase;
}

/*estilos para los selectores de clase*/

.principal{
 margin:0;
 padding: 0;
 display: flex;
 flex-flow: column nowrap;
}

.header{
  height: 705px;
  display: flex;
  flex-flow: column nowrap;
  background:#18bc9c;
}
  .menu{
    padding: 5px;
    height: 15%;
    display: flex;
    font-weight: 700;
    background: #283E56;
    align-items: center;
  }
    .marca{
      padding: 5px;
      /*background: red;*/
      flex: 2 1 auto;    
      font-weight: 700;
    }
    .nav{
      /*background:orange;*/
      flex: 3 1 auto; 
      font-weight: 700; 
    }
  .portada{
    height: 85%;
    /*background:#2318bc;*/
    text-align: center;
  }
  .profile{
    height: 45%;
    /*background: blueviolet;*/
    margin-top:5%;
   }
  .intro{
   width: 100%;
   height: 55%;
  }
   .intro-name{
     /*outline: 1px solid orange;*/
     font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
     display: block;
     margin: 2% auto;
     width: 70%;
     font-size: 60px;
     font-weight: 700;
     }
   .intro-name::after{
    content: '';
   /* background-color: red;*/
    height:2px;
    width: 40%;
    display: block;
    position: relative;
    left:15%;
   }
   .skills{
     display: block;
     margin:auto;
     /*background:green;*/
     width:70%;
     font-size: 25px;
     font-weight: 400;
   }

.section-portfolio{
 display: flex;
 flex-flow: column nowrap;
 height: 880px;
 background:white;
}
  .titulo-portafolio{
    margin-top:0;
    height: 25%;
    /*background:red;*/
  }
  .imagen-portafolio{
    margin:auto;
    width: 90%;
    height: 75%;
    /*background:black;*/
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
  }
    .figure{
      width:350px;
      height:254px;
      margin:10px;
      background: #155263;
      flex: 1 1 30%;
    }
  img{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
  }

.section-About{
  width: 100%;
  height: 575px;
  background: #18bc9c;
}
  .About{
    margin: auto;
    width: 60%;
    height: 90%;
    /*background: red; */
  }
   
   .information{
    margin-left:10%;
    display: inline-block;
    width: 30%;
   }
.footer{
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
   background: #000;
}
  footer div{
       background:yellow;
       flex: 1 1 30%;
    }